{% extends "base.html" %}
{% block title %}Home {% endblock %}

{% block content %}
<div class="home">
    <h1 class="MorseHeading">Morse Code</h1>
    <p class="Morsepara">{{morsetext}}</p>
     <p> </p>
     <p class="Morsepara">
        <br>
        a) -.... represents 6
        <br>
        b) .-.. represents L
        <br>
        c) ..-. represents F
     </p>
      
        <div class="Morse">
            <!-- <img class="Morseimage" src="{{url_for('static', filename='MorseCode.jpeg')}}" alt=""> -->
            <img src="{{imagesrc}}"  class="Morseimage" alt="">
        </div>
        
</div>

{% endblock %}